section#event {
  width: 1240px;
  margin: 0 auto;
  position: relative;
  height: 330px;
}
section#event div.wrap {
}
section#event div.wrap h2 {
  line-height: 0;
  width: 50%;
  height: 40px;
  display: flex;
}
section#event div.wrap div {

  padding-bottom: 50px;
  width: 100%;
  display: inline-block;
}
section#event div.wrap div ul.flextwo {
  display: flex;
  width: 100%;
  gap: 100px;
  padding-top: 20px;
  text-align: center;
}
section#event div.wrap div ul.flextwo li {

}
section#event div.wrap div ul.flextwo li a {

}
section#event div.wrap div ul.flextwo li a figure {

}
section#event div.wrap div ul.flextwo li a figure img {

}
section#event div.wrap div ul.flextwo li a h3 {

}
section#event div.wrap div ul.flextwo li a p {

}
section#event div.wrap span {

}
section#event div.wrap span a {

}